h3{
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
}
  .container{
    display: flex;
    flex-direction: column;
    margin: 3px;
  }
  
  .wrapper img {
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 8px 10px -4px rgba(0, 0, 0,.6);
  }
  h4{
    font-size: 10px;
    margin: 10px;
    
  }
  
  /* modal */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    align-items: center;
  }
  .overlay img {
    display: block;
    width: 400px;
    height: auto;
    margin: 60px auto;
  }
  .overlay > p {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
  }
  .overlay-arrows_left {
    display: flex;
    background-color: #ccc;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    left: 0;
    cursor: pointer;
  }
  
  .overlay-arrows_left svg {
    width: 20px;
    height: 20px;
  }
  
  .overlay-arrows_right svg {
    width: 20px;
    height: 20px;
  }
  
  .overlay-arrows_right {
    display: flex;
    background-color: #ccc;
    justify-content: space-between;
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    top: 50%;
    cursor: pointer;
  }
  .close{
    font-size: 5px;
  }
  .close:hover{
    background-color: red;
  }

  /* modo slider*/
  
  